.divDoTitulo{
     
      position: relative;
      text-align: center;

}
.tudo{
    position: fixed;
    margin-top: 1%;
    margin-left: 35%;
    max-width: 50%;

}
.campos{
    
    padding-top: 0.1%;
   
    
}
.Dbut{
    border-radius: 1px;

}
table{
    padding: 5%;
}
td{
    padding-left: 15%;
}
.bot{
    text-align: center;
}
.tela{

    position: relative;
    border-radius: 10px;
    background-image: url("fundo.jpg");
    background-size: 100%;
    width: 250px;
    margin-left: 15%;
}
body{
    background-image: url("fa2.jpg");
    background-size: 5%;
}