<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/> 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> 

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet"/>

        <title>Admin</title>
        <meta http-equiv="Content-Type" 
              content="text/html; charset=UTF-8" />
    </head>
    <body style="background-color: #ffffff">

        <div  style="background-color: #ff6600" id="list-item-1">

            <div class="row">
                <div class="col-3">
                    <img style="width: 172px;height: 120px"   src="/logoPitagoras.jpg"/> 
                </div>
                <div class="col-9">
                    <p><h3 th:text="${user.funcao.nomeFuncao}"/></p>
                    <p><h4>Bem vindo ao Sistema <label th:text="${user.nomeFuncionario}" /></h4></p> 
                </div>

            </div>

        </div>
        <div class="row" >

            <div style="float:left;
                 text-align: center;">



                <div id="accordion" role="tablist">
                    <div class="card" style=" background-color: #ff6600">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" 
                                   style="color: white; text-decoration: none">
                                    <div style="float: left;"> 
                                        Listar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div style="float: left;">
                                        <i class="material-icons">menu</i>
                                    </div>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="background-color: #f7ba5e;">
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_lista_lab?fun='+${user.Cod_funcio}}" style="text-decoration: none">
                                        Laboratórios

                                    </a>
                                </p>
                                <hr/>

                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_lista_funcionario'(fun=${user.Cod_funcio})}" style="text-decoration: none">
                                        Usuários
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card" style=" background-color: #ff6600">
                        <div class="card-header" role="tab" id="headingOne1">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1" 
                                   style="color: white; text-decoration: none">
                                    <div style="float: left;"> 
                                        Pesquisar&nbsp;
                                    </div>
                                    <div style="float: left;">
                                        <i class="material-icons">menu</i>
                                    </div>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordion">
                            <div class="card-body" style="background-color: #f7ba5e;">
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_pesquisar_lab_solicitarNome'(fun=${user.Cod_funcio})}" style="text-decoration: none">
                                        Laboratórios
                                    </a>
                                </p>
                                <hr/>

                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_pesquisar_funcio_solicitarNome'(fun=${user.Cod_funcio})}" style="text-decoration: none">
                                        Usuários 
                                    </a>

                                </p>
                                <hr/>

                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_pesquisa_reserva_solicitar'(fun=${user.Cod_funcio})}" style="text-decoration: none">
                                        Reservas 
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card" style=" background-color: #ff6600">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: white; text-decoration: none">
                                    <div style="float: left;"> 
                                        Adicionar&nbsp;
                                    </div>
                                    <div style="float: left;">
                                        <i class="material-icons">menu</i>
                                    </div>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" style="background-color: #f7ba5e;">
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_add_lab?fun='+${user.Cod_funcio}}" style="text-decoration: none">
                                        Laboratórios
                                    </a></p>
                                <hr/>
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_add_funcionario?fun='+${user.Cod_funcio}}" style="text-decoration: none"> 
                                        Usuários 
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card" style=" background-color: #ff6600">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: white; text-decoration: none">
                                    <div style="float: left;"> 
                                        Reservas &nbsp;
                                    </div>
                                    <div style="float: left;">
                                        <i class="material-icons">menu</i>
                                    </div>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body" style="background-color: #f7ba5e;">
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_exibirReservas_solicitar?fun='+${user.Cod_funcio}}" style="text-decoration: none">    
                                        Exibir 
                                    </a>   
                                </p>
                                <hr/>
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_disponibilizar_escolhaAno?fun='+${user.Cod_funcio}}" style="text-decoration: none">    
                                        Disponibilizar 
                                    </a>                            
                                </p>
                                <hr/>
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_reserva_solicitar_mesGrafico?fun='+${user.Cod_funcio}}" style="text-decoration: none">    
                                        Gráfico
                                    </a>                            
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div style="margin-top: 2%">    
                    <a th:href="@{'/Administrador/admin_altera_seuUsuario'(fun=${user.Cod_funcio},idfunAlterar=${user.Cod_funcio})}"
                       type="button" class="btn btn-warning btn-sm"
                       style="position: relative"><i class="material-icons" style="font-size: 15px;margin-top: 5px">settings</i></a>

                    <a href="/logar" type="button" class="btn btn-warning btn-sm"
                       style="position: relative;font-size: 15px;">Sair</a>

                    <a th:href="@{'/Administrador/admin_duvidas'(fun=${user.Cod_funcio})}" 
                       type="button" class="btn btn-warning btn-sm"
                       style="position: relative"><i class="material-icons" style="font-size: 15px;margin-top: 5px">help</i></a>

                </div>  


                <div id="list-example" class="list-group" style="position: fixed;margin-top: 2%">

                    <a class="list-group-item list-group-item-action" href="#list-item-1"><p>Vamos para</p><p>o topo!</p></a>

                </div>


            </div>
            <div class="container" style="float:left;position: relative;
                 margin-left: 1%;background-color: #ffffff;width: auto;height: auto">  

                <div class="card" style="margin-top: 5px">
                    <div class="card-body">
                        <h4 class="card-title">O que cada coisa faz?</h4>
                        <nav class="nav nav-tabs" id="myTab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-listar-tab" data-toggle="tab" href="#nav-listar" role="tab" aria-controls="nav-listar" aria-selected="true">Listar</a>
                            <a class="nav-item nav-link" id="nav-pesquisar-tab" data-toggle="tab" href="#nav-pesquisar" role="tab" aria-controls="nav-pesquisar" aria-selected="false">Pesquisar</a>
                            <a class="nav-item nav-link" id="nav-adicionar-tab" data-toggle="tab" href="#nav-adicionar" role="tab" aria-controls="nav-adicionar" aria-selected="false">Adicionar</a>
                            <a class="nav-item nav-link" id="nav-reservas-tab" data-toggle="tab" href="#nav-reservas" role="tab" aria-controls="nav-reservas" aria-selected="false">Reservas</a>

                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-listar" role="tabpanel" aria-labelledby="nav-listar-tab"><p>
                                <ul>
                                    <li><b>Laboratórios</b></li>
                                    <br/>
                                    <p>Lista todos os laboratórios no sistema com 
                                        as opções de alterar e excluir (a opção de excluir apaga todas as reservas criadas do laboratório) </p>
                                    <li><b>Usuários</b></li>
                                    <br/>
                                    <p>Lista todos os usuários do sistema com
                                        as opções de alterar e excluir (a opção de excluir apaga todas as reservas criadas pelo usuário) </p>
                                </ul>
                                </p></div>
                            <div class="tab-pane fade" id="nav-pesquisar" role="tabpanel" aria-labelledby="nav-pesquisar-tab">
                                <ul>
                                    <br/>
                                    <li><b>Laboratórios</b></li>
                                    <br/>
                                    <p>Lista os laboratórios a partir de um nome escolhido com
                                        as opções de alterar e excluir (alterar  ou excluir um laboratório retornar uma lista com todos) </p>
                                    <li><b>Usuários</b></li>
                                    <br/>
                                    <p>Lista os usuários a partir de um nome escolhido com 
                                        as opções de alterar e excluir (alterar  ou excluir um usuário retornar uma lista com todos) </p>
                                    <li><b>Reservas</b></li>
                                    <br/>
                                    <p>Lista as reservas  de um laboratório escolhido em 
                                        um intervalo de tempo pré-selecionado (reservar ou cancelar uma reserva não cancela o filtro) </p>

                                </ul>

                            </div>
                            <div class="tab-pane fade" id="nav-adicionar" role="tabpanel" aria-labelledby="nav-adicionar-tab">
                                <ul>
                                    <br/>
                                    <li><b>Laboratórios</b></li>
                                    <br/>
                                    <p>Cria um novo laboratório no sistema (O laboratório criado 
                                        não pode ser reservado ate que seja criado as reservas ) </p>
                                    <li><b>Usuários</b></li>
                                    <br/>
                                    <p>Cria um novo usuário no sistema</p>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="nav-reservas" role="tabpanel" aria-labelledby="nav-reservas-tab">
                                <ul>
                                    <br/>
                                    <li><b>Exibir</b></li>
                                    <br/>
                                    <p>Exibi todas as reservas de todos os laboratórios de um
                                        mês selecionado (Essa opção pode demorar um pouco )  </p>
                                    <li><b>Disponibilizar</b></li>
                                    <br/>
                                    <p>Cria as reservas para todos os laboratórios do sistema em um
                                        determinado semestre, selecionado o ano e depois o semestre. 
                                        Laboratórios com as reservas já criadas são ignorados. Esta opção 
                                        demora muito, é recomendado que deixe o sistema off-line enquanto processa.  </p>
                                    <li><b>Gráfico</b></li>
                                    <br/>
                                    <p>Cria um gráfico com a quantidade de reservas em um mês para todos
                                        os laboratórios, exibindo a quantidade reservada e disponível. </p>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </body>
</html>
