<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/> 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> 

        <title>Admin</title>
        <meta http-equiv="Content-Type" 
              content="text/html; charset=UTF-8" />
    </head>
    <body style="background-color: #d7d6d4">

        <div  style="margin: 1px;border-radius: 4px;border-color: #ccccff;border-style: solid;
              background-color: #ffffff">

            <div class="row">
                <div class="col-11">
                    <p><h3 th:text="${user.funcao.nomeFuncao}"/></p>
                    <p><h3>Bem vindo ao Sistema <label th:text="${user.nomeFuncionario}" /></h3></p> 
                </div>
                <div class="col-1">
                    <a href="/logar" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true"
                       style="top: 1%;position: relative">Sair</a>
                </div>
            </div>

        </div>
        <div style="position: relative;margin-left: 0.5%;background-color: #ffffff;min-width: 100px">
            <div id="op" style="float:left; background-color: #ff6600;border-bottom-right-radius: 4px;
                 border-top-right-radius: 4px
                 ;text-align: center;display: block">

                <div style="border-bottom: solid 2px black;margin: 1px">
                    <p style="text-align: left"><h3>Pesquisar:</h3></p>

                    <div style= "background-color: #f7ba5e;">
                        <p style="margin: 1px;margin-left: 5px;text-align: center">
                            <a th:href="@{'/Administrador/admin_lista_lab?fun='+${user.Cod_funcio}}">
                                Laboratorios
                            </a>
                        </p>
                    </div>
                    <div style= "background-color: #f7ba5e;">
                        <p style="margin: 1px;margin-left: 5px;text-align: center">Usuarios </p>
                    </div>
                </div>

                <div style="border-bottom: solid 2px black;">
                    <p style="text-align: left"><h3>Adicionar:</h3></p>
                    <div style= "background-color: #f7ba5e;">
                        <p style="margin: 1px;margin-left: 5px;text-align: center">
                            <a th:href="@{'/Administrador/admin_add_lab?fun='+${user.Cod_funcio}}">
                                Laboratorios
                            </a></p>
                    </div>
                    <div style= "background-color: #f7ba5e;">
                        <p style="margin: 1px;margin-left: 5px;text-align: center">Usuarios </p>
                    </div>

                </div>


                <div style="border-bottom: solid 2px black;">
                    <p style="text-align: left"><h3>Reservas:</h3></p>
                    <div style= "background-color: #f7ba5e;">
                        <p style="margin: 1px;margin-left: 5px;text-align: center">Exibir </p>
                    </div>
                    <div style= "background-color: #f7ba5e;">
                        <p style="margin: 1px;margin-left: 5px;text-align: center">
                            <a th:href="@{'/Administrador/admin_disponibilizar_escolhaAno?fun='+${user.Cod_funcio}}">    
                                Disponibilizar 
                            </a>                            
                        </p>
                    </div>                
                </div>

            </div>
            <div class="container" style="float:left;position: relative;
                 margin-left: 1%;background-color: #ffffff;width: auto;height: auto">  

                <span><h3>Lista de Laboratorios</h3></span>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nome do Laboratorio</th>
                            <th scope="col">Andar</th>
                            <th scope="col">Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="lab : ${labs}">

                            <td  th:text = "${lab.nomeLab}"></td>
                            <td  th:text = "${lab.andar}"></td>
                            <td>
                                <textarea cols="40" th:text="${lab.descricao}" readonly="readonly">
                                    
                                </textarea>
                            </td>

                            <td><button>
                                    <a onclick="mostrar('Teste','op')" th:href="@{'/Administrador/admin_lab_apargar'
                                       (fun=${user.Cod_funcio},lab=${lab.cod_labor})}">
                                        Deletar
                                    </a>
                                </button></td>
                            <td><button><a href="#">Alterar</a></button></td>
                        </tr>
                    </tbody>
                </table>


                <div id="Teste" style="margin: 2px;margin-left: 23%;display: none">      
                    <p>Apagando reservas relacionadas</p>
                    <progress></progress> 
                    <label>Isso pode demorar um pouco, aguarde....</label>
                </div>

                <label th:text="${menssagem}"></label>
            </div>
        </div>


        <script type="text/javascript">

            var mostrar = function(ok,ok1){

            var display = document.getElementById(ok).style.display;
            var display1 = document.getElementById(ok1).style.display;

            if(display1 == "none")
            document.getElementById(ok1).style.display = 'block';
            else
            document.getElementById(ok1).style.display = 'none';


            if(display == "none")
            document.getElementById(ok).style.display = 'block';
            else
            document.getElementById(ok).style.display = 'none';


            }

        </script>

    </body>
</html>
