<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/> 
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> 

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet"/>

        <title>Admin</title>
        <meta http-equiv="Content-Type" 
              content="text/html; charset=UTF-8" />
    </head>
    <body style="background-color: #ffffff">

        <div  style="background-color: #ff6600" id="list-item-1">

            <div class="row">
                <div class="col-3">
                    <img style="width: 172px;height: 120px"   src="/logoPitagoras.jpg"/> 
                </div>
                <div class="col-9">
                    <p><h3 th:text="${user.funcao.nomeFuncao}"/></p>
                    <p><h4>Bem vindo ao Sistema <label th:text="${user.nomeFuncionario}" /></h4></p> 
                </div>

            </div>

        </div>
        <div class="row" >

            <div style="float:left;
                 text-align: center;">



                <div id="accordion" role="tablist">
                    <div class="card" style=" background-color: #ff6600">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" 
                                   style="color: white; text-decoration: none">
                                    <div style="float: left;"> 
                                        Listar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div style="float: left;">
                                        <i class="material-icons">menu</i>
                                    </div>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="background-color: #f7ba5e;">
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_lista_lab?fun='+${user.Cod_funcio}}" style="text-decoration: none">
                                        Laboratorios

                                    </a>
                                </p>
                                <hr/>

                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_lista_funcionario'(fun=${user.Cod_funcio})}" style="text-decoration: none">
                                        Usuarios
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card" style=" background-color: #ff6600">
                        <div class="card-header" role="tab" id="headingOne1">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1" 
                                   style="color: white; text-decoration: none">
                                    <div style="float: left;"> 
                                        Pesquisar&nbsp;
                                    </div>
                                    <div style="float: left;">
                                        <i class="material-icons">menu</i>
                                    </div>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordion">
                            <div class="card-body" style="background-color: #f7ba5e;">
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_pesquisar_lab_solicitarNome'(fun=${user.Cod_funcio})}" style="text-decoration: none">
                                        Laboratorios
                                    </a>
                                </p>
                                <hr/>

                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_pesquisar_funcio_solicitarNome'(fun=${user.Cod_funcio})}" style="text-decoration: none">
                                        Usuários 
                                    </a>
                                </p>
                                <hr/>

                                <p style="margin: 1px;margin-left: 5px;text-align: center">Reservas </p>
                            </div>
                        </div>
                    </div>

                    <div class="card" style=" background-color: #ff6600">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: white; text-decoration: none">
                                    <div style="float: left;"> 
                                        Adicionar&nbsp;
                                    </div>
                                    <div style="float: left;">
                                        <i class="material-icons">menu</i>
                                    </div>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" style="background-color: #f7ba5e;">
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_add_lab?fun='+${user.Cod_funcio}}" style="text-decoration: none">
                                        Laboratorios
                                    </a></p>
                                <hr/>
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_add_funcionario?fun='+${user.Cod_funcio}}" style="text-decoration: none"> 
                                        Usuarios 
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card" style=" background-color: #ff6600">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: white; text-decoration: none">
                                    <div style="float: left;"> 
                                        Reservas &nbsp;
                                    </div>
                                    <div style="float: left;">
                                        <i class="material-icons">menu</i>
                                    </div>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body" style="background-color: #f7ba5e;">
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_exibirReservas_solicitar?fun='+${user.Cod_funcio}}" style="text-decoration: none">    
                                        Exibir 
                                    </a>   
                                </p>
                                <hr/>
                                <p style="margin: 1px;margin-left: 5px;text-align: center">
                                    <a th:href="@{'/Administrador/admin_disponibilizar_escolhaAno?fun='+${user.Cod_funcio}}" style="text-decoration: none">    
                                        Disponibilizar 
                                    </a>                            
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div style="margin-top: 2%">                
                    <a th:href="@{'/Administrador/admin_altera_seuUsuario'(fun=${user.Cod_funcio},idfunAlterar=${user.Cod_funcio})}"
                       type="button" class="btn btn-warning btn-sm"
                       style="position: relative"><i class="material-icons" style="font-size: 15px">settings</i></a>

                    <a href="/logar" type="button" class="btn btn-warning btn-sm"
                       style="position: relative">Sair</a>

                    <a href="" type="button" class="btn btn-warning btn-sm"
                       style="position: relative"><i class="material-icons" style="font-size: 15px">help</i></a>

                </div>  


                <div id="list-example" class="list-group" style="position: fixed;margin-top: 2%">

                    <a class="list-group-item list-group-item-action" href="#list-item-1"><p>Vamos para</p><p>o topo</p></a>

                </div>


            </div>
            <div  class="container" style="float:left;
                  position: relative;margin-left: 1%;background-color: #ffffff;width: auto;height: auto">
                <div style="margin-left: 2%">
                    <span><h3>Criando Novo Laboratorio:</h3></span>
                    <br/>
                    <br/>
                    <form action="#" th:action="@{'/AdicionandoLab?fun='+${user.Cod_funcio}}"
                          th:object="${lab}" method="post">


                        <label>Nome do Laboratorio:</label><br/>
                        <input type="text" th:field="*{nomeLab}"/>
                        <br/>
                        <label>Andar:</label><br/>
                        <input type="text" th:field="*{andar}"/>
                        <br/>
                        <label>Descrição:</label><br/>
                        <textarea th:field="*{descricao}" rows="5" cols="60" maxlength="255"></textarea>
                        <br/><br/>
                        <div style="margin-bottom: 1%">
                            <button class="btn btn-warning btn-sm" name="criar" type="submit">Criar</button> 
                            <button class="btn btn-warning btn-sm" name="apagar" type="reset">Apagar</button> 
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </body>
</html>
